@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

html {
  scroll-behavior: smooth;
}

body {
  display: grid;
  font-family: Verdana, Geneva;
  margin: 0px;
}

main {
  color: black;
}

header {
  background-color: #FFFFFF;
  position: fixed;
  display: grid;
  grid-template-columns: minmax(100px, 80%) auto;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  align-items: center;
  z-index: 2;
  /*box-shadow: 0 0 10px 0 black;*/
}

header img {
  height: 80px;
  /*margin-left: 40px;*/
}

header * {
	display: inline;
}

header li {
	margin: 20px;
}

header li a {
	color: black;
	text-decoration: none;
	font-weight: bold;
}

header li a:hover {
  color: blue;
}

.firmpage {
  background-image: url('assets/solar.jpg');
  display: grid;
  grid-template-columns: minmax(200px, 50%) auto;
  font-size: large;
  background-color: #F5F5F5;
  min-height: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  width: 100%;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
  left: 0px;
  margin-top: 80px
}

.firmpage .titlepane_transparent{
  background: rgba(48, 48, 48, 0.9);
  display:flex;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  color: white;
  justify-content: center;
}

.firmpage .titlepane_transparent .titletext { 
  position:absolute;
  top:50%;
  transform: translate(0, -50%);
  overflow-wrap: inherit;
}

.information {
  display: grid;
  grid-template-columns: minmax(150px, 35%) auto;
	font-size: large;
  min-height: calc(100vh - 80px);
  width: 100%;
  max-width: 100%;
	padding: 0px;
  margin: 0px;
  left: 0px;
  padding-top: 80px;
  margin-top: -80px;
	/*margin-top: 80px*/
}

.information .titlepane {
  z-index: 0;
  font-size: 2rem;
  padding: 2rem;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.information .contentpane {
  z-index: -2;
  padding: 3rem;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information li {
  list-style-type: square;
}

.information li::marker {
  color: rgb(46, 175, 125);
}

footer {
  text-align: center;
}
